.card {
    padding: var(--cardPadding);
    border: {
        style: none;
        radius: var(--cardPadding);
    }
    background-color: var(--cardBackground);
    word-wrap: break-word;
    max-width: 100vw;
}