.accent {
    color: var(--textAccent);
}

.muted {
    color: var(--textMuted);
}

p {
    margin: {
        top: 0;
        right: 0;
        bottom: 1rem;
        left: 0;
    }
}

a {
    color: inherit;
    font: {
        size: inherit;
        style: inherit;
        weight: inherit;
    }
    text-decoration: none;

    &:link {
        color: var(--textLink);
    }
    &:visited {
        color: var(--textLink);
    }
    &:active {
        color: inherit;
    }
    &:hover {
        color: inherit;
    }
}

small {
    color: inherit;
    font: {
        size: 0.75rem;
        style: inherit;
        weight: inherit;
    }
}

kbd {
    @include monospace;
    background-color: var(--backgroundInvert);
    border-radius: 15px;
    color: var(--textInvert);
    padding: {
        left: 0.5rem;
        right: 0.5rem;
    }
    text-transform: uppercase;
}

code,
samp {
    @include monospace;
}

var {
    @include monospace;
    font-style: italic;
}

b,
strong {
    color: var(--textAccent);
    font: {
        size: inherit;
        style: inherit;
        weight: 800;
    }
}

del,
s {
    color: inherit;
    font: {
        size: inherit;
        style: inherit;
        weight: inherit;
    }
    text-decoration: {
        line: line-through;
        style: solid;
        thickness: 3px;
        color: var(--colorPrimary);
    }
}

ins,
u {
    border-bottom: {
        style: solid;
        width: 3px;
        color: var(--colorPrimary);
    }
    color: inherit;
    font: {
        size: inherit;
        style: inherit;
        weight: inherit;
    }
    text-decoration: none;
}

i,
q,
em,
cite,
dfn {
    color: inherit;
    font: {
        size: inherit;
        style: italic;
        weight: inherit;
    }
}

abbr[title] {
    font-size: inherit;
    color: inherit;
    cursor: help;
    text-decoration: {
        line: underline;
        style: dotted;
        thickness: 1px;
    }
}

mark {
    background-color: var(--textMark);
    color: inherit;
    font: {
        size: inherit;
        style: inherit;
        weight: inherit;
    }
}
