table {
    color: var(--textParagraph);
}

table p {
    margin-bottom: 0;
}

table, th, td {
    border: {
        width: 3px;
        style: solid;
        color: var(--border);
        collapse: collapse;
    }
}

th, td {
    padding: 15px;
}