button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: var(--formBackground);
    border: {
        radius: 2em;
        style: none;
    }
    color: var(--formText);
    font: {
        size: 1rem;
        weight: 700;
    }
    padding: 0.5em 3em;
    user-select: none;

    &:not(:disabled):hover {
        background-color: var(--formBackgroundAccent);
        cursor: pointer;
    }
    &:active {
        background-color: var(--formBackgroundAccent);
    }
    &:focus {
        outline: none;
    }
}

.btn-primary {
    background-color: var(--formPrimaryBackground);
    color: var(--formPrimaryText);

    &:not(:disabled):hover {
        background-color: var(--formPrimaryBackgroundAccent);
    }
    &:active {
        background-color: var(--formPrimaryBackgroundAccent);
    }
}